@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Grape+Nuts&display=swap');
body{
    margin: 0px;
    padding:0px;
    height: 50px;
    width: 300px;
   
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
    cursor: pointer;
    background-size: 100% 100%; 
    
    z-index: 1;
    font-family:  "Baloo Bhai 2", sans-serif;

}
.navbar{
    color: rgb(16, 15, 14);
    display:inline block;
    /* margin-left: 14cm; */
    /* padding: 0%; */
    display: flex;
    /* width: 33px;  */ 
    position: absolute;
    top: 0;
    /* left: 20px; */
    right: 100px;
    /* background-color: beige; */
    /* height: 33px; */
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    
}
.navbar li{
    display: inline-block; 
    font-size: 30px;
    margin-left: 23px;
    justify-content: center;
    align-items: left;
    left: 20px;
    padding-right: 20px;
    /* background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0px; */
}
.navbar li a{
    padding: 6px 15px;
    border-radius: 20px;
    color: rgb(26, 24, 21);
    text-decoration: none;
    /* position: absolute;
    top: 0;
    right: 1100px; */

   

    
    
    /* padding: 6px 15px; */ 

}
.navbar li:hover{
    text-decoration:underline; 
    color: gray;
    background-color: #fff;
    border-radius: 20px; 
    left: 200px;  
    z-index: 1;
    transition: 0.5s;
    box-shadow: 7px 5px rgb(130, 138, 95);
    justify-content: center;
   
}



.btn{
    position: absolute;
    bottom: 55px;
    right: 143px;
    /* background-color: yellow; */
    color: black;
    text-align: center;
    font-size: 15px;
    text-decoration: none; 
    display: inline-block;       
}

.btn h2{
padding: 8px 30px;
border-radius: 30px;
background: wheat;
color: #2b1055;
/* z-index: 9; */
text-decoration: none;



}

.btn h2:hover{
background-color: aliceblue;
}
.btn  a{
text-decoration: none;
display: inline-block;
}
section img{

width: 945px;
height: 550px;
position: absolute;
top: 70px;
left: 550px;
right: 10px;
bottom: 90px;
align-items: center;
object-fit: cover; 
/* mix-blend-mode: stroke;  */
background-color: none;
display: flex;
z-index: 100;
color: #fff;

}
#dozzer{
background-color: none;
/* mix-blend-mode: multiply;  */
z-index: 2;
color: wheat;
/* mix-blend-mode:saturation; */
filter: brightness(100%);
display: flex;


}
#stars{
background-color: none;
mix-blend-mode: multiply; 
height: 100%;
width: 100%; 

align-items: center;
object-fit: cover;
display: flex;
position: absolute;
top: 0%;
left: 0%;
bottom: 0%;
background-repeat: no-repeat; 
background-size: cover; 
z-index: -1;



}
.gun{
position: relative;
width: 400px;
height: 440px;
margin-top: 160px;
margin-left: 136px;
background-color: #fff;
background: transparent; 
border: 2px solid rgb(132 100 100 / 50%);
border-radius: 20px;
backdrop-filter:blur(80px);
box-shadow:0 0 40px rgb(70, 64, 64);
border-radius: 30px;
}
.gun p {
align-items: center;
justify-content: center;
margin: 50px;
padding: 40px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-size: 32px;

}


@media(max-aspect-ratio: 16/9){
    .gun{
        position: relative;
        width: 400px;
        height: 440px;
        margin-top: 160px;
        margin-left: 60px;
        background-color: #fff;
        background: transparent; 
        border: 2px solid rgb(132 100 100 / 50%);
        border-radius: 20px;
        backdrop-filter:blur(80px);
        box-shadow:0 0 40px rgb(70, 64, 64);
        border-radius: 30px;
}
    }

.header{
background-color:#b9a882;
width: 100%;
height: 75px;
position: fixed;
top: 0px;
box-shadow: #2a2825;
filter: drop-shadow(8px 8px 10px gray);

}
#ex{
    background-color: rgb(143, 122, 94);
    /* height: 300px; */
}
section img  {
    /* height: 266px; */
    /* width: 345px; */
    /* background-color: #7197b1; */
    border-color: #2a2825;
    border-width: 200px;
    display: inline block;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 100px;
    left: 569px;
    justify-content: space-between;
    /* margin: 20px; */
    padding: auto;
    /* height: 100%; */
    /* width: 100%; */
    
}
#doz2{
    position:absolute ;
    left: 636px;
    height: 266px;
    width: 340px;


}
#doz1{
    height: 495px;
    width: 613px;
    position: absolute;
    top: 17px;
    left: 73px;
    filter: brightness(1.2);
}
.select li{
    font-size: 25px;
    position:relative;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin-left: 40px;
    padding-left: 40px;
    display: inline-block; 
    background-color:#fff;
    border-radius: 16px;
    border-color: #5e523a;
    box-shadow: 7px 5px rgb(16, 17, 12);
    text-decoration: solid;
    
}
.select li a{
    font-size: 25px;
    position:relative;
    display: flex;
    align-items: center;
}

.select{
    color: rgb(16, 15, 14);
    display:inline block;
    position: absolute;
    right: 100px;
    /* justify-content: space-between;
    align-items: center; */
    z-index: 1;
    justify-content: center;
    top: 200px;
    
  
}
.select li{
    display: inline-block; 
    font-size: 30px;
    margin-left: 23px;
    align-items: left;
    left: -175px;
    right: 20px;
    top:-30px ;
    
}
.select li a{
    padding: 6px 15px;
    border-radius: 20px;
    color: rgb(26, 24, 21);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin-right: 80px;
    padding-left: 80px;

}
video{
    /* height: 400px;  */
    /* width: 300px;  */
    position: absolute;
    top: 133px; 
    right: 298px;

}
.container{
    position: absolute;
    right: 30px;
    bottom: 4px; 
}
.social i{
    font-weight: 700;
    height: 50px;
    width: 20px;
    color: black;
    
}
.copy{
    height: 20px;
    font-size: 10px;
    font-style: italic;
    font-weight:800 ;
    position: absolute;
    right:30px ;
    bottom: 20px;

}
#doz{
    height: 400px;
    width: 100px;
    background-color:#fff;


}
#poc{
    height: 400px;
    width: 100px;
    background-color:#fff;


}
#dam{
    height: 400px;
    width: 100px;
    background-color:#fff;


}
#doz3{
    position:absolute ;
    left: -70px;
    height: 255px;
    width: 240px;
}
#poc1{
    position: absolute;
    left: 260px;
    height: 255px;
    width: 240px;

}
#dam1{
    position: absolute; 
    left: 600px; 
    /* right: 250px;s */
    height: 255px;
    width: 240px;


} 

